*{
  box-sizing: border-box;
}

body{
  background-color: lavender;
  
}

button{
  margin: 0 10px;
}

.App {
  text-align: center;
}

.container{
  flex-wrap: wrap;
  flex-direction: column;
}

.card{
  margin: 30px;
  /* height: 200px; */
}

.card-title{
  display: inline;
}
.card-text{
  display: inline;
}
