


*{
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  
}

body{
  background-color: lavender;
  text-transform: capitalize;
  
}
h3{
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-weight: bold;
  margin: 15px;
}
.goals-button{
  margin: 0 10px;
  /* justify-self: right; */
}


.App {
  text-align: center;
  margin-bottom: 10px;
}
.footer{
  font-size: small;
  margin-top: 150px;
}
.container{
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}
.create-goals{
  align-content: center;
}
.card{
  margin: 30px;
  /* height: 200px; */
}

.card-title{
  display: inline;
}
.card-text{
  display: inline;
}
.task-form{
  display: flex;
  text-align: left;
  /* flex-direction: row; */
  margin: 10px 0 10px 30px;
}
.task-button{
  margin: 0 10px;
  align-self: flex-end;
  text-align: right;
}